<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6805336607-ite03ksv55msen17ra215urf44ano5db.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6805336607-ite03ksv55msen17ra215urf44ano5db</string>
	<key>API_KEY</key>
	<string>AIzaSyAZP2B0JDFSKo_dnocXck8JbATr1o5UeNo</string>
	<key>GCM_SENDER_ID</key>
	<string>6805336607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lookbeautyapp.artist</string>
	<key>PROJECT_ID</key>
	<string>look-5d68c</string>
	<key>STORAGE_BUCKET</key>
	<string>look-5d68c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:6805336607:ios:8c4c4094489b75b5f9db2a</string>
</dict>
</plist>
